/* styles */
:root {
  --clr-game-orange: #e09600;
}
* {
  margin: 0;
  padding: 0;
  background-color: #202224;
  color: #e09600;
}

body {
  font-size: 16px;
}

.container {
  display: grid;
  margin: 0 auto;
  width: 300px;
}

.container h3 {
  padding-top: 0.25rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px;
  width: 300px;
  height: 300px;
}

.grid div {
  width: 20px;
  height: 20px;
}

.shooter {
  background-color: blue;
}

.invader {
  background-color: purple;
  border-radius: 50%;
}

.boom {
  background-color: red;
}

.laser {
  background-color: var(--clr-game-orange);
}

/* ****** touch controls ****** */
.ctrls {
  display: flex;
  justify-content: space-around;
  width: 300px;
  padding-top: 1rem;
  height: 2rem;
}

#fireBtn {
  width: 50%;
}

#leftBtn {
  width: 20%;
}

#rightBtn {
  width: 20%;
}

/* ****** touch controls end ****** */
